*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: #1c1c1c;
    padding: 10px 0;
}

.logo{
    fill: #fff;
    width: 140px;
}

.header-content{
    width: 80%;
    margin: 0 auto;
}

nav{
    float: right;
    padding: 15px;
}

nav a{
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    font-weight: bold;
}

.navigation-hover:hover{
    color: #06c710;
}

.banner{
    background-image: url('https://www-growth.scdn.co/static/home/bursts-tablet.svg');
    height: 100vh;
    background-color: rgb(41, 65, 171);
    background-size: 100%;
    background-position: right 80% center;
    padding: 20px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.banner h2, p {
    color: #1ed760;
}

.banner h2{
    font-size: 150px;
    font-weight: 700;
    text-indent: -1.4em;
}

.banner p{
    margin: 30px 0;
}

.btn{
    background: #1ed760;
    padding: 20px 25px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: none;
}

.btn:hover{
    font-size: 15px;
}

footer{
    background: #1c1c1c;
    display: flex;
    justify-content: space-around;
    padding: 80px 10px;
}

footer ul{
    list-style-type: none;
}

.heading-footer{
    color: #5e5e5e;
    font-weight: bold;
}

footer ul li a{
    line-height: 40px;
    text-decoration: none;
    color: #fff;
}

